
@model List<CI.Entities.Models.Mission>

@{
    Layout = "_Navbar";
}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>

    <link rel="stylesheet" href="~/css/landingpage.css" />

    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

    </script>
</head>

<div class="">
        <div class="container">
            <div class="filters-section d-flex align-items-center flex-wrap justify-content-center" id="filters" onchange="function12()">
            </div>
            <div class="d-flex align-items-center justify-content-between mission-listing-title">
                <div class="landing-page-mission-header">
                    Explore <b>@ViewBag.TotalMission missions</b>
                </div>

                <div>

                    <div class="row d-flex align-items-center">

                        <div class="my-3">
                            <div class="pull-right sortby d-flex align-items-center">
                                <div class="dropdown ms-1 pe-5 ps-2">
                                    <a class="text-reset me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        Sort By
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="newest" >Newest</a></li>
                                        <li><a class="dropdown-item" id="" asp-action="Index" asp-route-sortOrder="oldest" >Oldest</a></li>
                                        <li><a class="dropdown-item" href="#">Lowest available seats</a></li>
                                        <li><a class="dropdown-item" href="#">Highest available seats</a></li>
                                        <li><a class="dropdown-item" href="#">My favourites</a></li>
                                        <li><a class="dropdown-item" href="#">Registration deadline</a></li>

                                    </ul>
                                </div>
                                <div class="btn-group d-flex shadow-none">

                                    <button class="btn" id="grid" onclick="gridview()">
                                        <img src="~/img/grid.png" alt="">
                                    </button>
                                    <button class="btn" id="list" onclick="listview()">
                                        <img src="~/img/list.png" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="products" class="row view-group">
                @foreach(var item in Model)
                {
                    if (item.MissionType == "Time")
                    {
                        <div class="item col-12 col-md-6 col-xl-4">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="group list-group-image img-fluid" style="width:100%;"
                                         src="~/img/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                                    <div class="landing-page-top-right"><img src="~/img/pin.png" alt=""> @item.City.Name</div>
                                    <div class="landing-page-bottom-right d-flex flex-column">
                                        <button class="mb-2 landing-page-btn-img">
                                            <img src="~/img/heart.png" alt="">
                                        </button><button class="landing-page-btn-img">
                                            <img src="~/img/user.png"
                                                 alt="">
                                        </button>
                                    </div>

                                    <div class="landing-page-bottom-center">@item.Theme.Title</div>
                                </div>
                                <div class="caption card-body">
                                    <h4 class="group card-title inner list-group-item-heading">
                                       @item.Title
                                    </h4>
                                    <p class="group inner landing-page-list-group-item-text">
                                       @item.Description
                                    </p>
                                    <div class="d-flex justify-content-between landing-page-card-rating">
                                        <div>Tree Canada</div>
                                        <div>
                                            <img src="~/img/selected-star.png" alt="">
                                            <img src="~/img/selected-star.png" alt="">
                                            <img src="~/img/selected-star.png" alt="">
                                            <img src="~/img/star.png" alt="">
                                            <img src="~/img/star.png" alt="">
                                        </div>
                                    </div>
                                    <div class="rule d-flex mt-1">
                                            <hr>
                                            
                                            <button class="date-btn mt-1">From @item.StartDate.ToString().Split(" ")[0] until @item.EndDate.ToString().Split(" ")[0]</button>
                                            <hr>
                                    </div>
                                    <div class="row landing-page-box-border">
                                        <div class="col-6 col-md-6 d-flex align-items-center">
                                            <p class="lead me-2 pt-2">
                                                <img src="~/img/Seats-left.png" alt="">
                                                <div>
                                                    <div>10</div>
                                                    <div class="landing-page-card-vol-small">Seats Left</div>
                                                </div>
                                            </p>
                                        </div>
                                        <div class="col-6 col-md-6 d-flex align-items-center">
                                            <p class="lead me-2 pt-2">
                                                <img src="~/img/deadline.png" alt="">
                                                <div>
                                                    <div>@item.EndDate.ToString().Split(" ")[0]</div>
                                                    <div class="landing-page-card-vol-small">Deadline</div>
                                                </div>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="">
                                            <a class="btn mt-2 landing-page-apply-mission-btn" asp-controller="Volunteer" asp-action="Index">
                                                Apply <img src="~/img/right-arrow.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else if (item.MissionType == "Goal")
                    {
                        <div class="item col-12 col-md-6 col-xl-4">
                            <div class="thumbnail card">
                                <div class="img-event">
                                    <img class="group list-group-image img-fluid" style="width:100%;"
                                         src="~/img/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                                    <div class="landing-page-top-right"><img src="~/img/pin.png" alt=""> @item.City.Name</div>
                                    <div class="landing-page-bottom-right d-flex flex-column">
                                        <button class="mb-2 landing-page-btn-img">
                                            <img src="~/img/heart.png" alt="">
                                        </button><button class="landing-page-btn-img">
                                            <img src="~/img/user.png"
                                                 alt="">
                                        </button>
                                    </div>

                                    <div class="landing-page-bottom-center">@item.Theme.Title</div>
                                </div>
                                <div class="caption card-body">
                                    <h4 class="group card-title inner list-group-item-heading">
                                        @item.Title
                                    </h4>
                                    <p class="group inner landing-page-list-group-item-text">
                                        @item.Description
                                    </p>
                                    <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                        <div>Tree Canada</div>
                                        <div>
                                            <img src="~/img/selected-star.png" alt="">
                                            <img src="~/img/selected-star.png" alt="">
                                            <img src="~/img/selected-star.png" alt="">
                                            <img src="~/img/star.png" alt="">
                                            <img src="~/img/star.png" alt="">
                                        </div>
                                    </div>
                                    <div class="rule d-flex mt-1">
                                            <hr>
                                            <button class="date-btn mt-1">From @item.StartDate.ToString().Split(" ")[0] until @item.EndDate.ToString().Split(" ")[0]</button>
                                            <hr>
                                    </div>
                                    <div class="row landing-page-box-border">
                                
                                        <!-- <div class="col-6 col-md-6 d-flex align-items-center">
                                          <p class="lead me-2 pt-2">
                                            <img src="~/img/Seats-left.png" alt="">
                                          <div>
                                            <div>10</div>
                                            <div class="landing-page-card-vol-small">Seats Left</div>
                                          </div>
                                          </p>
                                        </div> -->
                                        <div class="col-12 d-flex align-items-center">
                                            <p class="lead me-2 pt-2">
                                                <img src="~/img/achieved.png" alt="">
                                                <div style="width: 100%;">
                                                    <div>

                                                        <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                                             aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                                            <div class="progress-bar" style="width: 45%; background-color: #F88735;"></div>
                                                        </div>

                                                    </div>
                                                    <div class="landing-page-card-vol-small">8000 achived</div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <div class="">
                                            <a class="btn mt-2 landing-page-apply-mission-btn" asp-controller="Volunteer" asp-action="Index">
                                                Apply <img src="~/img/right-arrow.png" alt="">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
   
<nav aria-label="Page navigation example mt-5" class="d-flex justify-content-center">
    <ul class="pagination">
        @if(@ViewBag.currentUrl.Contains('?')){
            <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@i">@((i + 1).ToString())</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        else{
            <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 0; i < ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@i">@((i + 1).ToString())</a>
                </li>
            }
            <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        }
        
    </ul>
</nav>





