@using CIWeb.Models;
@model CI.Entities.Models.User;
@{
    Layout = "_Navbar";
    ViewData["Title"] = "Home Page";
}

<head>
   
    <title>Home</title>

    <link rel="stylesheet" href="~/css/LandingPage.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

        function LoadAddtoFav(id) {


                $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/missions/${id}/checkFavorite`,
                    success: function (response) {

                        var element = document.getElementById(`landing-page-add-to-fav-btn-card-${id}`);
                        if(response=="IN"){
                            element.innerHTML = `<img src="/img/heart-2.png" alt="">`
                        } else {
                            element.innerHTML = `<img src="/img/heart.png" alt="">`
                        }
                    },
                    failure: function (response) {
                        toastr.error("Some Error Occurred")
                    },
                    error: function (response) {
                        toastr.error("Some Error Occurred")
                    }
                });
            }


            function loadRating(id){
                $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/missions/${id}/ratingGroup`,
                    success: function (response) {

                        var element = document.getElementById(`landing-page-rating-card-${id}`);
                        if(response=="0"){
                            element.innerHTML = `
                                    <img src="~/img/star.png" alt="" >
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">`
                        } else {
                            if(!element){
                                var element = document.createElement("div");
                            }
                            element.innerHTML = showRating(response);
                        }
                    },
                    failure: function (response) {
                        toastr.error("Some Error Occurred")
                    },
                    error: function (response) {
                        toastr.error("Some Error Occurred")
                    }
                });

            }

    </script>



</head>

<body>

    <div class="container">
        <div !importantmportantlass="ms-1 me-1 mb-3 d-flex flex-column justify-content-start filter-details" id="navmaindiv">

            <div class="d-flex d-lg-none row" style="margin-top: 63px !important;">

                <form role="search" class="d-flex col-10">

                    <i class="fas fa-search mt-2"></i>

                    <input type="search"
                           class="form-control rounded ms-2 searchbox border-0"
                           id="search-bar-1"
                           value=@ViewBag.searchQuery
                           name="searchQuery"
                           placeholder="Search Mission..."
                           aria-label="Search"
                           style="width: 80vw" />
                </form>
                <div class="col-2">
                    <button class="btn shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="~/img/filter.png"></button>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">Filters</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">

                            <div class="dropdown-section d-flex justify-content-end flex-column">
                                <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborder">
                                    <a class="text-reset me-5 singledropdown dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        Country
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">



                                        @foreach (var country in ViewBag.countries)
                                        {

                                            <li>
                                                <a class="dropdown-item dd-color">
                                                    <div class="form-check">
                                                        <input class="form-check-input" name="countries" type="checkbox" value=@country.Name
                                                           id="@country.CountryId" onclick="updateUrl(@country.CountryId, 'FCountries')" />
                                                        <label class="form-check-label" for=@country.Name>@country.Name</label>
                                                    </div>
                                                </a>
                                            </li>




                                        }


                                    </ul>
                                </div>
                                <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborderright">
                                    <a class="text-reset me-5 singledropdown dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        City
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-start dropdownlist" id="load-country-city-1" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">


                                        <li>Please select a Country</li>

                                    </ul>
                                </div>
                                <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborderright">
                                    <a class="text-reset singledropdown me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        Theme
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                                        @if (ViewBag.Themes != null)
                                        {


                                            @foreach (var theme in ViewBag.Themes)
                                            {

                                                <li>
                                                    <a class="dropdown-item dd-color">
                                                        <div class="form-check">
                                                            <input class="form-check-input" name="themes" type="checkbox" value=@theme.Title id=@theme.MissionThemeId onchange="updateUrl(@theme.MissionThemeId, 'FThemes')" />
                                                            <label class="form-check-label" for=@theme.MissionThemeId>@theme.Title</label>
                                                        </div>
                                                    </a>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborderright">
                                    <a class="text-reset singledropdown me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                        skills
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                                        @if (ViewBag.skills != null)
                                        {

                                            @foreach (var skill in ViewBag.skills)
                                            {

                                                <li>
                                                    <a class="dropdown-item dd-color">
                                                        <div class="form-check">
                                                            <input class="form-check-input" name="skills" type="checkbox" value=@skill.SkillName id=@skill.SkillId onchange="updateUrl(@skill.SkillId, 'FSkills')" />
                                                            <label class="form-check-label" for=@skill.SkillId>@skill.SkillName</label>
                                                        </div>
                                                    </a>
                                                </li>

                                            }
                                        }
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="filters-section d-flex align-items-end flex-wrap justify-content-start" style="margin-top:0 !important" id="filter-element-for-landing-page">
            </div>


        </div>

        <div class="d-flex container align-items-center justify-content-between mission-listing-title">
            <div class="landing-page-mission-header">
                Explore <b id="landing-page-total-missions"></b>
            </div>





            <div class="d-flex">
                <div class="dropdown ms-3 mt-2 pe-3 ps-2 d-none d-lg-inline-block">
                    <button class="btn text-reset me-0 sortBy-dropdown dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', pageIndex = '', sortOrder = 'newest')" style="cursor:pointer;">Newest</a></li>
                        <li><a class="dropdown-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', pageIndex = '', sortOrder = 'oldest')" style="cursor:pointer;">Oldest</a></li>
                        <li><a class="dropdown-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', pageIndex = '', sortOrder = 'lowest')" style="cursor:pointer;">Lowest available seats </a></li>
                        <li><a class="dropdown-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', pageIndex = '', sortOrder = 'highest')" style="cursor:pointer;">Highest available seats </a></li>
                        @if (ViewBag.user != null)
                        {
                            <li><a class="dropdown-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', pageIndex = '', sortOrder = 'favourites')" style="cursor:pointer;">My favourites </a></li>
                        }

                        <li><a class="dropdown-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', pageIndex = '', sortOrder = 'deadline')" style="cursor:pointer;">Registration deadline</a></li>
                    </ul>
                </div>
                <div class="btn-group d-none d-lg-flex shadow-none">

                    <button class="btn" id="grid" onclick="gridview()">
                        <img src="~/img/grid.png" alt="">
                    </button>
                    <button class="btn" id="list" onclick="listview()">
                        <img src="~/img/list.png" alt="">
                    </button>
                </div>
            </div>




        </div>

        <div id="products" class="row container view-group mt-3">
        </div>

        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
            <ul class="pagination" id="landing-page-pagination">
            </ul>
        </nav>

    </div>

    <script>

        function loadMissionCards(response) {
            console.log(response)
            return response.missionsVMList.map(item => {
                
                if(item.missionType == "Time") {
                    return `<div class="item col-12 col-md-6 col-xl-4" onload="LoadAddtoFav()">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" style="width:100%;"
                             src="/mediaUpload/${item.imgUrl}" alt="" />
                                <div class="landing-page-top-right"><img src="/img/pin.png" alt=""> ${item.city}</div>
                                ${item.userApplied == true ? '<div class="landing-page-mission-apply-status"> Applied </div>' : ""}
                                
                                ${item.isClosed == true ? '<div class="landing-page-mission-closed-status"> Closed </div>' : ""}
                                
                                <div class="landing-page-bottom-right d-flex flex-column">
                                            @if (ViewBag.user != null)
                                            {
                                                <button class="mb-2 landing-page-btn-img" id="landing-page-add-to-fav-btn-card-${item.missionId}" onclick="changeAddtoFav(${item.missionId})" >
                                                    <img src="~/img/heart.png" alt="" onload="LoadAddtoFav(${item.missionId})">
                                                </button>

                                                <button class="landing-page-btn-img" data-bs-toggle="modal" data-bs-target="#exampleModal" id="landing-page-recommend-btn-card-${item.missionId}" onclick="loadUserInRecomand(${item.missionId})">
                                                    <img src="~/img/user.png" alt="">
                                                </button>

                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend to a Co-Worker</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body" id="vol-page-recommend-load-user" style="height: 400px; overflow-y: scroll;">
                                                        ...
                                                      </div>
                                                      <div class="modal-footer">
                                            
                                            
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            }

                                </div>

                                <div class="landing-page-bottom-center">${item.theme}</div>
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    ${item.title}
                                </h4>
                                <p class="group inner landing-page-list-group-item-text">
                                    ${item.description}
                                </p>
                                <div class="d-flex justify-content-between landing-page-card-rating">
                                    <div>${item.organization}</div>
                                    <div id="landing-page-rating-card-${item.missionId}">
                                        <img src="/img/star.png" alt="" onload="loadRating(${item.missionId})">
                                        <img src="/img/star.png" alt="">
                                        <img src="/img/star.png" alt="">
                                        <img src="/img/star.png" alt="">
                                        <img src="/img/star.png" alt="">
                                    </div>
                                </div>
                                <div class="rule d-flex mt-1">
                                    <hr>
                                    <button class="date-btn mt-1">${item.startDateEndDate}</button>
                                    <hr>
                                </div>
                                <div class="row landing-page-box-border">
                                    <div class="col-6 col-md-6 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="/img/Seats-left.png" alt="">
                                            <div>
                                                <div>${item.noOfSeatsLeft}</div>
                                                <div class="landing-page-card-vol-small">Seats Left</div>
                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-6 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="/img/deadline.png" alt="">
                                            <div>
                                                <div>${item.endDate.substring(0, 10)}</div>
                                                <div class="landing-page-card-vol-small">Deadline</div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="">

                                                @if (@ViewBag.user != null)
                                                {

                                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="/missions/${item.missionId}">
                                                            Apply <img src="~/img/right-arrow.png" alt="">
                                                        </a>
                                                }
                                                else
                                                {
                                                    <a class="btn mt-2 landing-page-apply-mission-btn" asp-action="Login" asp-controller="User">
                                                            Login <img src="~/img/right-arrow.png" alt="">
                                                        </a>
                                                }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                } else {
                    return `<div class="item col-12 col-md-6 col-xl-4" onload="LoadAddtoFav()">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" style="width:100%;"
                             src="/mediaUpload/${item.imgUrl}" alt="" />
                                <div class="landing-page-top-right"><img src="/img/pin.png" alt=""> ${item.city}</div>
                                ${item.userApplied == true ? '<div class="landing-page-mission-apply-status"> Applied </div>' : ""}
                                ${item.isClosed == true ? '<div class="landing-page-mission-closed-status"> Closed </div>' : ""}
                                <div class="landing-page-bottom-right d-flex flex-column">
                                            @if (ViewBag.user != null)
                                            {
                                                <button class="mb-2 landing-page-btn-img" id="landing-page-add-to-fav-btn-card-${item.missionId}" onclick="changeAddtoFav(${item.missionId})" >
                                                    <img src="~/img/heart.png" alt="" onload="LoadAddtoFav(${item.missionId})">
                                                </button>

                                               
                                                <button class="landing-page-btn-img" data-bs-toggle="modal" data-bs-target="#exampleModal" id="landing-page-recommend-btn-card-${item.missionId}" onclick="loadUserInRecomand(${item.missionId})">
                                                    <img src="~/img/user.png" alt="">
                                                </button>

                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Recommend to a Co-Worker</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                      </div>
                                                      <div class="modal-body" id="vol-page-recommend-load-user" style="height: 400px; overflow-y: scroll;">
                                                        ...
                                                      </div>
                                                      <div class="modal-footer">
                                            
                                            
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            }

                                </div>

                                <div class="landing-page-bottom-center">${item.theme}</div>
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    ${item.title}
                                </h4>
                                <p class="group inner landing-page-list-group-item-text">
                                    ${item.description}
                                </p>
                                <div class="d-flex justify-content-between landing-page-card-rating">
                                    <div>${item.organization}</div>
                                    <div id="landing-page-rating-card-${item.missionId}">
                                        <img src="/img/star.png" alt="" onload="loadRating(${item.missionId})">
                                        <img src="/img/star.png" alt="">
                                        <img src="/img/star.png" alt="">
                                        <img src="/img/star.png" alt="">
                                        <img src="/img/star.png" alt="">
                                    </div>
                                </div>
                                <div class="rule d-flex mt-1">
                                    <hr>
                                    <button class="date-btn mt-1">${item.goalObjective}</button>
                                    <hr>
                                </div>
                                <div class="row landing-page-box-border">

                                    <div class="col-6 col-md-6 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="/img/Seats-left.png" alt="">
                                            <div>
                                                <div>${item.noOfSeatsLeft}</div>
                                                <div class="landing-page-card-vol-small">Seats Left</div>
                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-6 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="/img/achieved.png" alt="">
                                            <div style="width: 100%;">
                                                <div>

                                                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                                 aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                                        <div class="progress-bar" style="width: ${item.goalAchived}%; background-color: #F88735;"></div>
                                                    </div>

                                                </div>
                                                <div class="landing-page-card-vol-small">${item.goalAchived}% achived</div>
                                            </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="">

                                                @if (@ViewBag.user != null)
                                                {
                                                    <a class="btn mt-2 landing-page-apply-mission-btn" href="/missions/${item.missionId}">
                                                            Apply <img src="~/img/right-arrow.png" alt="">
                                                        </a>
                                                }
                                                else
                                                {
                                                    <a class="btn mt-2 landing-page-apply-mission-btn" asp-action="Login" asp-controller="User">
                                                            Login <img src="~/img/right-arrow.png" alt="">
                                                        </a>
                                                }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                }
            }).join("")
        }

        // ajax call for card loading...
        $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/api/missions`,
                    success: function (response) {

                        console.log(response);

                        var cards = document.getElementById("products");
                        products.innerHTML = loadMissionCards(response);

                        var element2 = document.getElementById("landing-page-pagination");
                        element2.innerHTML = loadMissionForPagination(response);

                        var totalMission = document.getElementById("landing-page-total-missions");
                        totalMission.innerHTML = `${response.noOfMissions} Missions`

                       

                    },
                    failure: function (response) {
                        toastr.error("Some Error Occurred")
                    },
                    error: function (response) {
                        toastr.error("Some Error Occurred")
                    }
                });

                var url = "";

        function changeURL(searchQuery = "", FCountries = "", FCities = "", FThemes = "", FSkills = "", pageIndex = "0", sortOrder = "") {

            if(searchQuery!=""){
                if (url.includes('searchQuery=')) {
                    url = url.replace(/searchQuery=([^&]*)/, 'searchQuery=' + searchQuery );
                } else {
                    url += 'searchQuery=' + searchQuery + "&";
                }
            } else {
                url = url.replace(/searchQuery=([^&]*)/, "" );
            }
            if(FCountries!=""){
                if (url.includes(`FCountries=${FCountries}`)) {
                    url = url.replace(`FCountries=${FCountries}`, "" );
                } else {
                    url += 'FCountries=' + FCountries + "&";
                }
            }
            if(FCities!=""){

                if (url.includes(`FCities=${FCities}`)) {
                    url = url.replace(`FCities=${FCities}`, "" );
                } else {
                    url += 'FCities=' + FCities + "&";
                }
            }
            if(FThemes!=""){

                if (url.includes(`FThemes=${FThemes}`)) {
                    url = url.replace(`FThemes=${FThemes}`, "" );
                } else {
                    url += 'FThemes=' + FThemes + "&";
                }
            }
            if(FSkills!=""){

                if (url.includes(`FSkills=${FSkills}`)) {
                    url = url.replace(`FSkills=${FSkills}`, "" );
                } else {
                    url += 'FSkills=' + FSkills + "&";
                }
            }
            if(sortOrder!=""){
                if (url.includes('sortOrder=')) {
                    url = url.replace(/sortOrder=([^&]*)/, 'sortOrder=' + sortOrder );
                } else {
                    url += 'sortOrder=' + sortOrder + "&";
                }
            }
            if(pageIndex!=""){
                if (url.includes('pageIndex=')) {
                    url = url.replace(/pageIndex=([^&]*)/, 'pageIndex=' + pageIndex );
                } else {
                    url += 'pageIndex=' + pageIndex + "&";
                }
            }
            onClickMissionPagination(url);
        }

        function loadMissionForPagination(response) {

            var previous = `<li class="page-item story-paginaition-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', '${response.currentPage <= 0 ? response.currentPage : response.currentPage - 1}', sortOrder = '')" style="cursor:pointer;">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>`

            var forword = `<li class="page-item story-paginaition-item" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', '${response.currentPage >= response.totalPages ? response.currentPage : response.currentPage + 1}', sortOrder = '')" style="cursor:pointer;">
                                <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true" >&raquo;</span>
                                </a>
                            </li>`

            var pages = ""
            for (var i = 0; i < response.totalPages; i++) {
                pages += `<li class="page-item story-paginaition-item ${response.currentPage == i ? "active" : ""}" onclick="changeURL(searchQuery = '', FCountries = '', FCities = '', FThemes = '', FSkills = '', '${i}', sortOrder = '')"><a class="page-link" style="cursor:pointer;">${i + 1}</a></li> `
            }

            return previous + pages + forword;

        }

        function loadCountryElements(response) {
            return response.countryElements.map(item => `
                <span class="filter-list  ps-3 pe-1 me-2 " id=${item.countryId} style="margin-top:2%;">
                            ${item.name}
                            <button class="filter-close-button" id=${item.countryId} onclick="removeFilter('${item.countryId}', 'FCountries')">&times;</button>
                        </span>
            `).join("")
        }

        function loadCityElements(response) {
            return response.cityElements.map(item => `
                <span class="filter-list  ps-3 pe-1 me-2 " id=${item.cityId} style="margin-top:2%;">
                           ${item.name}
                           <button class="filter-close-button" id=${item.cityId} onclick="removeFilter('${item.cityId}', 'FCities')">&times;</button>
                        </span>
            `).join("")
        }

        function loadThemeElements(response) {
            return response.themeElements.map(item => `
                <span class="filter-list  ps-3 pe-1 me-2 " id=${item.themeId} style="margin-top:2%;">
                            ${item.title}
                            <button class="filter-close-button" id=${item.cityId} onclick="removeFilter('${item.themeId}', 'FThemes')">&times;</button>
                        </span>
            `).join("")
        }

        function loadSkillElements(response) {
            return response.skillElements.map(item => `
                <span class="filter-list  ps-3 pe-1 me-2 " id=${item.skillId} style="margin-top:2%;">
                            ${item.skillName}
                            <button class="filter-close-button" id=${item.skillId} onclick="removeFilter('${item.skillId}', 'FSkills')">&times;</button>
                        </span>
            `).join("")
        }

        function removeUrlParams() {

            url = ""
            onClickMissionPagination(url);
        }

        function loadCountryFilterCity(response) {

            return response.cities.map(item => `<li>
                                                            <a class="dropdown-item dd-color">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" name="cities" type="checkbox" value="${item.name}" id=${item.cityId} onclick="updateUrl(${item.cityId}, 'FCities')"/>
                                                                    <label class="form-check-label" for="${item.name}">${item.name}</label>
                                                                </div>
                                                            </a>
                                                        </li>`).join("")
        }

        function onClickMissionPagination(url) {
            var loader = document.getElementById("products");
            loader.innerHTML = `<div class="d-flex justify-content-center">
                                  <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                  </div>
                                </div>` 
            $.ajax({
                type: "GET",
                url: `https://localhost:44398/api/missions?${url}`,
                success: function (response) {

                    

                    var element = document.getElementById("products");
                    element.innerHTML = loadMissionCards(response)

                    var element2 = document.getElementById("landing-page-pagination");
                    element2.innerHTML = loadMissionForPagination(response);

                    var totalMission = document.getElementById("landing-page-total-missions");
                    totalMission.innerHTML = `${response.noOfMissions} Missions`

                    var countryFilterCity = document.getElementById("load-country-city")
                    if(response.cities!=null) {
                        countryFilterCity.innerHTML = loadCountryFilterCity(response)
                    }

                    // for mobile view
                    var countryFilterCity1 = document.getElementById("load-country-city-1")
                    if(response.cities!=null) {
                        
                        countryFilterCity1.innerHTML = loadCountryFilterCity(response)
                    }
                    

                    var filter = document.getElementById("filter-element-for-landing-page");
                    var filterHTML = ""

                    if(response.countryElements!=null) {
                        filterHTML += loadCountryElements(response);
                    }

                    if(response.cityElements !=null) {
                        filterHTML += loadCityElements(response);
                    }

                    if(response.themeElements !=null) {
                        filterHTML += loadThemeElements(response);
                    }

                    if(response.skillElements !=null) {
                        filterHTML += loadSkillElements(response);
                    }

                    if(filterHTML != ""){
                        filterHTML += `<span class="filter-list  ps-3 pe-1 me-2 " id="ClearBtn" style="margin-top:2%;">
                                            Clear All
                                            <button class="filter-close-button" id="clearbutton" onclick="removeUrlParams()">&times;</button>
                                        </span>`
                    }

                    filter.innerHTML = filterHTML

                    if(response.noOfMissions <= 0){
                        location.href = "https://localhost:44398/Home/Nomission"
                    }

                },
                failure: function (response) {
                    toastr.error("Some Error Occurred")
                },
                error: function (response) {
                    toastr.error("Some Error Occurred")
                }
            });

        }

        function sendMailForRecommend(userId, missionId) {
                
                // display spinner for waiting 
                var element = document.getElementById(`change-btn-when-clicked-${userId}`);
                
                element.innerHTML = `<button class="btn btn-dark" type="button" disabled>
                                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                      Sending...
                                    </button>`
                  


                $.ajax({
                    type: "POST",
                    url: `https://localhost:44398/recommand/${userId}/${missionId}`,
                    success: function (response) {
                        var element = document.getElementById(`change-btn-when-clicked-${userId}`);
                        if(response.message == "sent") {
                            element.innerHTML = `<button class="btn btn-success" onclick="sendMailForRecommend(${userId}, ${missionId})" disabled>Sent</button>`
                        } else {
                            element.innerHTML = `<button class="btn btn-success" onclick="sendMailForRecommend(${userId}, ${missionId})" disabled>Already Sent</button>`
                        }
                        
                    },
                    failure: function (response) {
                        toastr.error("Some Error Occurred")
                    },
                    error: function (response) {
                        toastr.error("Some Error Occurred")
                    }
                });
            }

        function loadUser(response, id) {
                
                return response.user.map(item => {
                    return `
                        <div class="form-check d-flex justify-content-between">
                          <div>
                              <img class="vol-page-right-recent-vol-img" src="/mediaUpload/${item.avatar}" alt="" style="width: 40px; height:40px">
                              ${item.firstName} ${item.lastName}
                          </div>
                          <div id="change-btn-when-clicked-${item.userId}">
                            <button class="btn btn-dark" onclick="sendMailForRecommend(${item.userId}, ${id})">Recommend</button>
                          </div>
                        </div>
                        <hr/>`
                }).join('')
            }

            function loadUserInRecomand(id, status){


                var element = document.getElementById("vol-page-recommend-load-user");

                $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/users`,
                    success: function (response) {

                        element.innerHTML = loadUser(response, id);
                    },
                    failure: function (response) {
                        toastr.error("Some Error Occurred")
                    },
                    error: function (response) {
                        toastr.error("Some Error Occurred")
                    }
                });

            }

        function changeAddtoFav(id) {

                    $.ajax({
                        type: "GET",
                        url: `https://localhost:44398/missions/${id}/addFavorite`,
                        success: function (response) {

                            var element = document.getElementById(`landing-page-add-to-fav-btn-card-${id}`);
                            if(response=="Add"){
                                element.innerHTML = `<img src="/img/heart-2.png" alt="">`
                            } else {
                                element.innerHTML = `<img src="/img/heart.png" alt="">`
                            }

                            

                        },
                        failure: function (response) {
                            toastr.error("Some Error Occurred")
                        },
                        error: function (response) {
                            toastr.error("Some Error Occurred")
                        }
                    });
                }



            function showRating(response) {
                var html = ""
                var i=1
                while(i<=parseInt(response.avg)) {
                    html += `<img class="vol-page-main-card-star" src="/img/selected-star.png" alt="" onload="loadRating(${i})">`
                    i++;
                }
                while(i<=5){
                    html += `<img class="vol-page-main-card-star" src="/img/star.png" alt="" >`
                    i++;
                }

                return html
            }


        // search bar
        var debounceTimer;

        function debounce(func, delay) {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(func, delay);
        }

        document.getElementById("search-bar").addEventListener("onkeyup", function () {
            debounce(function () {
                search(document.getElementById("search-bar").value);
            }, 500); // adjust the delay time as needed
        });

        function search(query) {
            
            changeURL(searchQuery = query, FCountries = "", FCities = "", FThemes = "", FSkills = "", pageIndex = "", sortOrder = "")
        }




    </script>
    <script src="~/js/site.js">
    </script>


</body>

