@using CIWeb.Models;
@model CI.Entities.Models.User;
@{
    Layout = "_Navbar";
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link rel="stylesheet" href="~/css/LandingPage.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
        //<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

        function LoadAddtoFav(id) {
                
                
                $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/missions/${id}/checkFavorite`,
                    success: function (response) {
                        
                        var element = document.getElementById(`landing-page-add-to-fav-btn-card-${id}`);
                        if(response=="IN"){
                            element.innerHTML = `<img src="/img/heart-2.png" alt="">`                        
                        } else {
                            element.innerHTML = `<img src="/img/heart.png" alt="">`
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

    </script>



</head>

<body>
    
    <div class="container" >
        <div !importantmportantlass="ms-1 me-1 mb-3 d-flex flex-column justify-content-start filter-details" id="navmaindiv">

            <div class="d-flex d-lg-none row" style="margin-top: 63px !important;">
                    
                    <form role="search" class="d-flex col-10">
                        
                        <i class="fas fa-search mt-2"></i>
                        
                        <input type="search"
                               class="form-control rounded ms-2 searchbox border-0"
                               id="search-bar"
                               value=@ViewBag.searchQuery
                               name="searchQuery"
                               placeholder="Search Mission..."
                               aria-label="Search"
                               style="width: 80vw" />
                    </form>
                    <div class="col-2">
                   <button class="btn shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="~/img/filter.png"></button>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                          <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasRightLabel">Filters</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                          </div>
                          <div class="offcanvas-body">
                                
                                <div class="dropdown-section d-flex justify-content-end flex-column">
                                    <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborder">
                                        <a class="text-reset me-5 singledropdown dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                            Country
                                        </a>

                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">

                           

                                            @foreach (var country in ViewBag.countries)
                                            {
                                                <li>
                                                    <a class="dropdown-item dd-color" href="#">
                                                        <div class="form-check">
                                                            <input class="form-check-input" name="countries" type="checkbox" value=@country.Name
                                                               id="@country.CountryId" onchange="updateUrlForCountries()" />
                                                            <label class="form-check-label" for=@country.Name>@country.Name</label>
                                                        </div>
                                                    </a>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborderright">
                                        <a class="text-reset me-5 singledropdown dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                            City
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                           
                                            @if (ViewBag.cities == null)
                                            {
                                                <p>Please select a Country</p>
                                            }
                                            @if (ViewBag.cities != null)
                                            {
                                                @foreach (var city in ViewBag.cities)
                                                {
                                                    <li>
                                                        <a class="dropdown-item dd-color" href="#">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="cities" type="checkbox" value=@city.Name id=@city.CityId onchange="updateUrlForCities()" />
                                                                <label class="form-check-label" for=@city.CityId>@city.Name</label>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }

                                            }
                                        </ul>
                                    </div>
                                    <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborderright">
                                        <a class="text-reset singledropdown me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                            Theme
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                                            @if (ViewBag.Themes != null)
                                            {
                                                @foreach (var theme in ViewBag.Themes)
                                                {
                                                    <li>
                                                        <a class="dropdown-item dd-color" href="#">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="themes" type="checkbox" value=@theme.Title id=@theme.MissionThemeId onchange="updateUrlForThemes()" />
                                                                <label class="form-check-label" for=@theme.MissionThemeId>@theme.Title</label>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                    <div class="dropdown ms-1 mt-4 pe-5 ps-2 dropdownborderright">
                                        <a class="text-reset singledropdown me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                                            skills
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                                            @if (ViewBag.skills != null)
                                            {
                                                @foreach (var theme in ViewBag.skills)
                                                {
                                                    <li>
                                                        <a class="dropdown-item dd-color" href="#">
                                                            <div class="form-check">
                                                                <input class="form-check-input" name="skills" type="checkbox" value=@theme.SkillName id=@theme.SkillId onchange="updateUrlForSkills()" />
                                                                <label class="form-check-label" for=@theme.SkillId>@theme.SkillName</label>
                                                            </div>
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>  

                          </div>
                         </div>
                         </div>
            </div>


            <div class="filters-section d-flex align-items-end flex-wrap justify-content-start" style="margin-top:0 !important">
                @if (ViewBag.countryElements != null)
                {
                    @foreach (var countryElement in ViewBag.countryElements)
                    {
                        <span class="filter-list  ps-3 pe-1 me-2 " id=@countryElement.CountryId style="margin-top:2%;">
                            @countryElement.Name
                            <button class="filter-close-button" id=@countryElement.CountryId onclick="removeFilter('@countryElement.CountryId', 'FCountries')">&times;</button>
                        </span>
                    }

                }

                @if (ViewBag.cityElements != null)
                {
                    @foreach (var cityElement in ViewBag.cityElements)
                    {
                        <span class="filter-list  ps-3 pe-1 me-2 " id=@cityElement.CityId style="margin-top:2%;">
                            @cityElement.Name
                            <button class="filter-close-button" id=@cityElement.CityId onclick="removeFilter('@cityElement.CityId', 'FCities')">&times;</button>
                        </span>
                    }
                }

                @if (ViewBag.themeElements != null)
                {
                    @foreach (var themeElement in ViewBag.themeElements)
                    {
                        <span class="filter-list  ps-3 pe-1 me-2 " id=@themeElement.MissionThemeId style="margin-top:2%;">
                            @themeElement.Title
                            <button class="filter-close-button" id="clearbutton" onclick="removeFilter('@themeElement.MissionThemeId', 'FThemes')">&times;</button>
                        </span>
                    }
                }

                @if (ViewBag.skillElements != null)
                {
                    @foreach (var skillElement in ViewBag.skillElements)
                    {
                        <span class="filter-list  ps-3 pe-1 me-2 " id=@skillElement.SkillId style="margin-top:2%;">
                            @skillElement.SkillName
                            <button class="filter-close-button" id="clearbutton" onclick="removeFilter('@skillElement.SkillId', 'FSkills')">&times;</button>
                        </span>
                    }
                }
                <span class="filter-list  ps-3 pe-1 me-2 " id="ClearBtn" style="margin-top:2%;display:none;">
                    Clear All
                    <button class="filter-close-button" id="clearbutton" onclick="removeUrlParams()">&times;</button>
                </span>

            </div>

        </div>

        <div class="d-flex container align-items-center justify-content-between mission-listing-title">
            <div class="landing-page-mission-header">
                Explore <b>@ViewBag.NoOfMissions missions</b>
            </div>






            <div class="d-flex">


                <div class="dropdown ms-3 mt-2 pe-3 ps-2 d-none d-lg-inline-block">
                    <button class="btn text-reset me-0 sortBy-dropdown dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                        <i class="bi bi-chevron-down"></i>
                    </button>
                    <ul class="dropdown-menu">
                        @if (ViewBag.currentUrl.Contains('?'))
                        {
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl&sortOrder=newest">Newest</a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl&sortOrder=oldest">Oldest</a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl&sortOrder=lowest">Lowest available seats </a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl&sortOrder=highest">Highest available seats </a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl&sortOrder=favourites">My favourites </a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl&sortOrder=deadline">Registration deadline</a></li>
                        }
                        else
                        {
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl?sortOrder=newest">Newest</a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl?sortOrder=oldest">Oldest</a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl?sortOrder=lowest">Lowest available seats </a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl?sortOrder=highest">Highest available seats </a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl?sortOrder=favourites">My favourites </a></li>
                            <li><a class="dropdown-item" href="@ViewBag.currentUrl?sortOrder=deadline">Registration deadline</a></li>

                        }

                    </ul>
                </div>
                <div class="btn-group d-none d-lg-flex shadow-none">

                    <button class="btn" id="grid" onclick="gridview()">
                        <img src="~/img/grid.png" alt="">
                    </button>
                    <button class="btn" id="list" onclick="listview()">
                        <img src="~/img/list.png" alt="">
                    </button>
                </div>
            </div>




        </div>
        <div id="products" class="row container view-group mt-3" >


            @foreach (var item in ViewBag.missions)
            {

                if (item.missionType == "Time")
                {


                    <div class="item col-12 col-md-6 col-xl-4" onload="LoadAddtoFav()">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" style="width:100%;"
                             src="~/img/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                                <div class="landing-page-top-right"><img src="~/img/pin.png" alt=""> @item.City</div>
                                <div class="landing-page-bottom-right d-flex flex-column">
                                    @if(ViewBag.user != null)
                                    {
                                        <button class="mb-2 landing-page-btn-img" id="landing-page-add-to-fav-btn-card-@item.MissionId" onclick="changeAddtoFav(@item.MissionId)" >
                                            <img src="~/img/heart.png" alt="" onload="LoadAddtoFav(@item.MissionId)">
                                        </button>
                                            
                                        <button class="landing-page-btn-img">
                                            <img src="~/img/user.png"
                                         alt="">
                                        </button>
                                    } 
                                    
                                </div>

                                <div class="landing-page-bottom-center">@item.Theme</div>
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    @item.Title
                                </h4>
                                <p class="group inner landing-page-list-group-item-text">
                                    @item.Description
                                </p>
                                <div class="d-flex justify-content-between landing-page-card-rating">
                                    <div>@item.Organization</div>
                                    <div id="landing-page-rating-card-@item.MissionId">
                                        <img src="~/img/star.png" alt="" onload="loadRating(@item.MissionId)">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                    </div>
                                </div>
                                <div class="rule d-flex mt-1">
                                    <hr>
                                    <button class="date-btn mt-1">@item.StartDateEndDate</button>
                                    <hr>
                                </div>
                                <div class="row landing-page-box-border">
                                    <div class="col-6 col-md-6 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="~/img/Seats-left.png" alt="">
                                            <div>
                                                <div>10</div>
                                                <div class="landing-page-card-vol-small">Seats Left</div>
                                            </div>
                                        </p>
                                    </div>
                                    <div class="col-6 col-md-6 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="~/img/deadline.png" alt="">
                                            <div>
                                                <div>@item.EndDate.ToString().Split(" ")[0]</div>
                                                <div class="landing-page-card-vol-small">Deadline</div>
                                            </div>
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="">

                                        @if (@ViewBag.user != null)
                                        {
                                            <a class="btn mt-2 landing-page-apply-mission-btn" href="/missions/@item.MissionId">
                                                    Apply <img src="~/img/right-arrow.png" alt="">
                                                </a>
                                        }
                                        else
                                        {
                                            <a class="btn mt-2 landing-page-apply-mission-btn" asp-action="Login" asp-controller="User">
                                                    Login <img src="~/img/right-arrow.png" alt="">
                                                </a>
                                        }


                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (item.missionType == "Goal")
                {
                    <div class="item col-12 col-md-6 col-xl-4">
                        <div class="thumbnail card">
                            <div class="img-event">
                                <img class="group list-group-image img-fluid" style="width:100%;"
                             src="~/img/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                                <div class="landing-page-top-right"><img src="~/img/pin.png" alt=""> @item.City</div>
                                <div class="landing-page-bottom-right d-flex flex-column">
                                    @if(ViewBag.user != null)
                                    {
                                        <button class="mb-2 landing-page-btn-img" id="landing-page-add-to-fav-btn-card-@item.MissionId" onclick="changeAddtoFav(@item.MissionId)" >
                                            <img src="~/img/heart.png" alt="" onload="LoadAddtoFav(@item.MissionId)">
                                        </button>
                                            
                                        <button class="landing-page-btn-img">
                                            <img src="~/img/user.png"
                                         alt="">
                                        </button>
                                    } 
                                </div>

                                <div class="landing-page-bottom-center">@item.Theme</div>
                            </div>
                            <div class="caption card-body">
                                <h4 class="group card-title inner list-group-item-heading">
                                    @item.Title
                                </h4>
                                <p class="group inner landing-page-list-group-item-text">
                                    @item.Description
                                </p>
                                <div class="d-flex justify-content-between mb-2 landing-page-card-rating">
                                    <div>Tree Canada</div>
                                    <div id="landing-page-rating-card-@item.MissionId">
                                        <img src="~/img/star.png" alt="" onload="loadRating(@item.MissionId)">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                    </div>
                                </div>
                                <div class="rule d-flex mt-1">
                                    <hr>
                                    <button class="date-btn mt-1">@item.StartDateEndDate</button>
                                    <hr>
                                </div>
                                <div class="row landing-page-box-border">

                                    <!-- <div class="col-6 col-md-6 d-flex align-items-center">
                                      <p class="lead me-2 pt-2">
                                        <img src="~/img/Seats-left.png" alt="">
                                      <div>
                                        <div>10</div>
                                        <div class="landing-page-card-vol-small">Seats Left</div>
                                      </div>
                                      </p>
                                    </div> -->
                                    <div class="col-12 d-flex align-items-center">
                                        <p class="lead me-2 pt-2">
                                            <img src="~/img/achieved.png" alt="">
                                            <div style="width: 100%;">
                                                <div>

                                                    <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                                                 aria-valuemin="0" aria-valuemax="100" style="height: 10px;">
                                                        <div class="progress-bar" style="width: 45%; background-color: #F88735;"></div>
                                                    </div>

                                                </div>
                                                <div class="landing-page-card-vol-small">8000 achived</div>
                                            </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="">
                                        @if (@ViewBag.user != null)
                                        {
                                            <a class="btn mt-2 landing-page-apply-mission-btn" href="/missions/@item.MissionId">
                                                    Apply <img src="~/img/right-arrow.png" alt="">
                                                </a>
                                        }
                                        else
                                        {
                                            <a class="btn mt-2 landing-page-apply-mission-btn" asp-action="Login" asp-controller="User">
                                                    Login <img src="~/img/right-arrow.png" alt="">
                                                </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }



            }

            @if (ViewBag.currentUrl.Contains('?'))
            {
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                            <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 0; i < ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@i">@((i + 1).ToString())</a>
                            </li>
                        }
                        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                            <a class="page-link" href="@ViewBag.currentUrl&pageIndex=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-4">
                    <ul class="pagination">
                        <li class="page-item @(ViewBag.CurrentPage == 0 ? "disabled" : "")">
                            <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        @for (int i = 0; i < ViewBag.TotalPages; i++)
                        {
                            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                                <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@i">@((i + 1).ToString())</a>
                            </li>
                        }
                        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages - 1 ? "disabled" : "")">
                            <a class="page-link" href="@ViewBag.currentUrl?pageIndex=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            }




        </div>
    </div>

    <script>

        function changeAddtoFav(id) {
                
                $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/missions/${id}/addFavorite`,
                    success: function (response) {
                        
                        var element = document.getElementById(`landing-page-add-to-fav-btn-card-${id}`);
                        if(response=="Add"){
                            element.innerHTML = `<img src="/img/heart-2.png" alt="">`
                        } else {
                            element.innerHTML = `<img src="/img/heart.png" alt="">`
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            }

            function showRating(response) {
                var html = ""
                var i=1
                while(i<=parseInt(response.avg)) {
                    html += `<img class="vol-page-main-card-star" src="/img/selected-star.png" alt="" onload="loadRating(${i})">`
                    i++;
                }
                while(i<=5){
                    html += `<img class="vol-page-main-card-star" src="/img/star.png" alt="" >`
                    i++;
                }
                
                return html
            }

            function loadRating(id){
                $.ajax({
                    type: "GET",
                    url: `https://localhost:44398/missions/${id}/ratingGroup`,
                    success: function (response) {

                        var element = document.getElementById(`landing-page-rating-card-${id}`);
                        if(response=="0"){
                            element.innerHTML = `
                                    <img src="~/img/star.png" alt="" onload="loadRating(${id})">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">
                                        <img src="~/img/star.png" alt="">`
                        } else {
                            if(!element){
                                var element = document.createElement("div");
                            }
                            element.innerHTML = showRating(response);
                        }
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });

            }

            //$(window).on('load', function(){
                
            //    $.ajax({
            //        type: "GET",
            //        url: `https://localhost:44398/missions/5/checkFavorite`,
            //        success: function (response) {
            //            console.log(response)
            //            var element = document.getElementById(`landing-page-add-to-fav-btn-card-5`);
            //            if(response=="IN"){
            //                element.innerHTML = `<img src="/img/heart-2.png" alt="">`                        
            //            } else {
            //                element.innerHTML = `<img src="/img/heart.png" alt="">`
            //            }
            //        },
            //        failure: function (response) {
            //            alert(response.responseText);
            //        },
            //        error: function (response) {
            //            alert(response.responseText);
            //        }
            //    });
            //});

            

         
        
            

    </script>
    <script src="~/js/site.js">
    </script>


</body>

</html>
