@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css">

    @*toastr*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
      



   
</head>

<body>

    <div>
        <nav class="navbar headernav navbar-expand-lg fixed-top" style="background-color: #ffffff;">
            <div class="container">
                <div class="d-flex col-md-6 d-flex justify-content-center justify-content-md-start pt-3 mb-3 mb-md-0">
                    <a asp-action="Index" asp-controller="Home" style="text-decoration: none;margin-right: 45px;">Explore</a>
                    <a asp-action="Index" asp-controller="Story" style="text-decoration: none;">Stories</a>
                    <div class="dropdown ms-5">
                        <a class="text-reset me-3 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                           data-mdb-toggle="dropdown" aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ddpolicy dropdown-menu-start" aria-labelledby="navbarDropdownMenuLink" id="dropdown-menu-start-privacy">
                            <li><a class="dropdown-item" asp-action="Privacy" asp-controller="Profile" >Read Policy</a></li>
                            
                        </ul>
                    </div>
                </div>
                <button class="navbar-toggler pb-3" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span><img src="~/img/menu-bar.svg" alt="logo"></span>
                </button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                     aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body justify-content-end">

                        <ul class="navbar-nav col-md-6 justify-content-end">
                            <li class="nav-item d-flex align-items-center">

                                @if (@ViewBag.user != null)
                                {
                                    <div class="dropdown">
                                        <a class="text-reset dropdown-toggle d-flex align-items-center" href="#"
                                       id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown"
                                       aria-expanded="false">
                                            <img src="~/mediaUpload/@ViewBag.user.Avatar" class="rounded-circle me-3" height="22" alt=""
                                             loading="lazy" style="
                                                            width: 30px;
                                                            height: 30px;
                                                        " />
                                            @ViewBag.user.FirstName @ViewBag.user.LastName 
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-start"
                                        aria-labelledby="navbarDropdownMenuLink">
                                            @if(ViewBag.user.Admin == 1)
                                                {
                                                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Admin">Admin</a></li>
                                                }
                                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Profile">My profile</a></li>
                                            <li><a class="dropdown-item" asp-action="Index" asp-controller="Timesheet">Volunteering Timesheet</a></li>
                                            <li><a class="dropdown-item" asp-action="login" asp-controller="User">Logout</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <a class="btn me-2" role="button" aria-disabled="true" asp-action="Login" asp-controller="User" style="background-color:#f88735;color:#fff;box-shadow: none;">Login</a>
                                    <a class="btn" role="button" aria-disabled="true" asp-action="Register" asp-controller="User" style="background-color:#f88735;color:#fff;box-shadow: none;">Register</a>

                                }


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>


        <div class="navbar menubar navbar-expand-lg navbar-light bg-white"
             style="padding-top: 51px; padding-bottom: 0px" id="menu">
            <div class="container">
                <div class="col-md-4">
                    
                    <form role="search" class="d-flex mt-2">
                        
                        <i class="fas fa-search mt-2"></i>
                        
                        <input type="search"
                               class="form-control rounded ms-2 searchbox border-0"
                               id="search-bar"
                               value=@ViewBag.searchQuery
                               name="searchQuery"
                               placeholder="Search Mission..."
                               aria-label="Search"
                               style="width: 80vw" />
                    </form>
                </div>
                <div class="dropdown-section col-md-8 d-flex justify-content-end" style="height: 50px">
                    <div class="dropdown ms-5 pe-3 ps-2 dropdownborder">
                        <a class="text-reset me-5 singledropdown dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            Country
                        </a>

                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">

                           

                            @foreach (var country in ViewBag.countries)
                            {
                                
                                    <li>
                                        <a class="dropdown-item dd-color">
                                            <div class="form-check">
                                                <input class="form-check-input" name="countries" type="checkbox" value=@country.Name
                                                   id="@country.CountryId" onclick="updateUrl(@country.CountryId, 'FCountries')" />
                                                <label class="form-check-label" for=@country.Name>@country.Name</label>
                                            </div>
                                        </a>
                                    </li>
                                

                                

                            }


                        </ul>
                    </div>



                    <div class="dropdown ms-1 pe-5 ps-2 dropdownborderright">
                        <a class="text-reset me-5 singledropdown dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            City
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" id="load-country-city" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; " >
                           
                                            
                                                <li>Please select a Country</li>
                                           
                                        </ul>
                    </div>
                    <div class="dropdown ms-1 pe-5 ps-2 dropdownborderright">
                        <a class="text-reset singledropdown me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            Theme
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                            @if (ViewBag.Themes != null)
                            {
                                

                                @foreach (var theme in ViewBag.Themes)
                                {
                                   
                                        <li>
                                            <a class="dropdown-item dd-color">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="themes" type="checkbox" value=@theme.Title id=@theme.MissionThemeId onchange="updateUrl(@theme.MissionThemeId, 'FThemes')"/>
                                                    <label class="form-check-label" for=@theme.MissionThemeId>@theme.Title</label>
                                                </div>
                                            </a>
                                        </li>
                                    
                                }
                            }
                        </ul>
                    </div>
                    <div class="dropdown ms-1 pe-5 ps-2 dropdownborderright">
                        <a class="text-reset singledropdown me-4 dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            skills
                        </a>
                        <ul class="dropdown-menu dropdown-menu-start dropdownlist" aria-labelledby="navbarDropdownMenuLink" style="max-height: 300px; overflow-y: scroll; ">
                            @if (ViewBag.skills != null)
                            {

                                @foreach (var skill in ViewBag.skills)
                                {
                                    
                                       <li>
                                            <a class="dropdown-item dd-color">
                                                <div class="form-check">
                                                    <input class="form-check-input" name="skills" type="checkbox" value=@skill.SkillName id=@skill.SkillId onchange="updateUrl(@skill.SkillId, 'FSkills')" />
                                                    <label class="form-check-label" for=@skill.SkillId>@skill.SkillName</label>
                                                </div>
                                            </a>
                                        </li>
                                    
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        

        @RenderBody();

    </div>


    <script>

        //Search bar

        var debounceTimer;

        function debounce(func, delay) {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(func, delay);
        }


        document.getElementById("search-bar").addEventListener("input", function () {
            debounce(function () {
                search(document.getElementById("search-bar").value);
            }, 500); // adjust the delay time as needed
        });

        document.getElementById("search-bar-1").addEventListener("input", function () {
            debounce(function () {
                search(document.getElementById("search-bar-1").value);
            }, 500); // adjust the delay time as needed
        });

        function search(query) {
            
            changeURL(searchQuery = query, FCountries = "", FCities = "", FThemes = "", FSkills = "", pageIndex = "", sortOrder = "")
        }

        function updateUrl(id, target) {
            

            if(target=="FCountries") {
                changeURL(searchQuery = "", FCountries = id, FCities = "", FThemes = "", FSkills = "", pageIndex = "", sortOrder = "")
            }
            if(target=="FCities") {
                changeURL(searchQuery = "", FCountries = "", FCities = id, FThemes = "", FSkills = "", pageIndex = "", sortOrder = "")
            }
            if(target=="FThemes") {
                changeURL(searchQuery = "", FCountries = "", FCities = "", FThemes = id, FSkills = "", pageIndex = "", sortOrder = "")
            }
            if(target=="FSkills") {
                changeURL(searchQuery = "", FCountries = "", FCities = "", FThemes = "", FSkills = id, pageIndex = "", sortOrder = "")
            }
        }

        function updateUrlForSortby() {
            var c = document.getElementById("ci");
            c.style.display = "none";
            let url = window.location.href;
            c = "";
            url = url.replace(/ACities=([^&]*)/, 'ACities=' + c);
            window.location.href = url;
        }

        // Get the filters section element
        const filtersSection = document.querySelector('.filters-section');

        // Get the clear button element
        const clearButton = document.getElementById('ClearBtn');

        // Check if there are any child elements in the filters section except for the clear button
        const hasChildElements = Array.from(filtersSection.children).some(element => element !== clearButton);

        // If there are no child elements except for the clear button, hide the clear button
        //if (!hasChildElements) {
        //    clearButton.style.display = 'none';
        //} else {
        //    clearButton.style.display = 'inline-block'; // Or whatever your initial display value was
        //}

        

        function removeFilter(id, target) {

            if(target=="FCountries") {
                changeURL(searchQuery = "", FCountries = id, FCities = "", FThemes = "", FSkills = "", pageIndex = "", sortOrder = "")
            }
            if(target=="FCities") {
                changeURL(searchQuery = "", FCountries = "", FCities = id, FThemes = "", FSkills = "", pageIndex = "", sortOrder = "")
            }
            if(target=="FThemes") {
                changeURL(searchQuery = "", FCountries = "", FCities = "", FThemes = id, FSkills = "", pageIndex = "", sortOrder = "")
            }
            if(target=="FSkills") {
                changeURL(searchQuery = "", FCountries = "", FCities = "", FThemes = "", FSkills = id, pageIndex = "", sortOrder = "")
            }

        }

        // for load CMS-slug in top navbar
        function loadSidebar(response) {
            return response.result.map(item => `<li><a class="dropdown-item" href="/Profile/Privacy#${item.slug}">${item.title}</a></li>`).join("");
        }
        
        // to load data from CMS-Table to privacy dropdown
          $.ajax({
                type: "GET",
                url: `/api/privacy`,
                success: function (response) {


                    var sidebar = document.getElementById('dropdown-menu-start-privacy');
                    sidebar.innerHTML = loadSidebar(response);
                    
                    //<li><a class="dropdown-item" asp-action="Privacy" asp-controller="Profile" >Read Policy</a></li>
                    

                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
             });


    </script>


    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    @*<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"></script>

</body>

</html>